body{
    font-family: 'Segoe UI', 'sans-serif';
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

 .form-container{
    max-width: 500px;
    margin: auto;
    background-color: #ffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 h1{
    text-align: center;
    color: #666;
} 

p{
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

form label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #444;
}

input[type="text"]
input[type="email"]
input[type="tel"]
select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #acc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
/* ✅ Select tidak terlihat sebelum diklik */
select {
    color: transparent; /* sembunyikan teks awal */
    background-color: #fff;
    appearance: none; /* hilangkan arrow default */
}

/* ✅ Tampilkan teks saat dropdown dibuka atau sudah pilih */
select:focus,
select:valid {
    color: #444;
}

/* ✅ Tampilkan panah custom*/
select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 16px center;
} 

/* Placeholder option tetap abu-abu */
option[disabled] {
    color: #aaa;
}



fieldset{
    margin-top: 20px;
    border: none;
}

 fieldset legend{
    font-weight: bold;
    margin-bottom: 10px;
}

fieldset label{
    display: block;
    margin-bottom: 5px;
}

.agreement{
    margin-top: 20px;
    font-size: 1em;
}

button{
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    background-color: #007804;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

button:hover{
    background-color: #005fa3;
}

